@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

html, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    height: 100%;
}

.header__name {
    text-align: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px;
    font-family: "Comfortaa", cursive;
}

.wrapper__navlink {
    text-decoration: none;
}

.main {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.wrapper__contact_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.wrapper__contact_list_item {
    border-radius: 10px;
    background: #ffffff;
    color: #282c34;
    box-shadow: 5px 5px 5px #a4a4a4;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 700;
    text-align: left;
    padding: 15px 10px;
}

.wrapper__contact_list_item:hover {
    transition: 700ms;
    border-radius: 10px;
    background: #ffffff;
    color: #282c34;
    box-shadow: 5px 5px 8px #817f7f;
    font-weight: 700;
    text-align: left;
    padding: 15px 10px;
}

.wrapper__contact_list_item:hover::after {
    opacity: 1;
}

.wrapper__contact_list_phone {
    color: #3e3e3e;
    font-size: 12px;
    padding-top: 10px;
}

.wrapper__contact_list_up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper__contact_list_picture {
    text-align: left;
    padding-bottom: 10px;
}

.wrapper__contact_list_picture img {
    width: 50px;
    height: 50px;
}

.wrapper__contact_list_search img {
    width: 20px;
    height: 20px;
}

.wrapper__input_search input {
    border-radius: 5px;
    padding: 10px;
    font-family: "Comforta", sans-serif;
    border: none;
    box-shadow: 5px 5px 10px #cfcfcf;
}

.footer {
    background: #292521;
    display: flex;
    height: 80px;
    margin-top: 50px;
    color: #e8f3ff;
    justify-content: center;
    align-items: center;
}