@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Comfortaa", cursive;
    background: linear-gradient(100deg, rgba(255,75,75,0.3) 0%, rgba(233,255,3,0.3) 93%);
}

h1 {
    font-weight: 600;
    font-size: 102px;
}

.h2_wrapper {
    font-family: "Comfortaa", cursive;
    padding-top: 100px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}